@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
    body {
      font-family: 'Cascadia Code', sans-serif;
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    #star  {
      background-color: #29313b;
      padding: 10px !important;
      border-radius: 50%;
      display: block;
    
    }
    .container {
      background-color: #212832;
      color: #fff;
      display: block;
      position: relative;
      padding: 50px;
      justify-content: center;
      margin: auto;
      width: 25%;
      border-radius: 14px;
    }
    .container p {
      font-size:15px ;
      color: #6D737F;
    }
    .button {
      background-color: #6D737F;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      height: 15px;
      width: 15px;
      padding: 20px;
      margin: 4px 2px;
      font-size: 16px;
    }
    .button5 {
      border-radius: 50%;
    }
    #nums {
    }
    .button:hover {
      background-color: hsl(25, 97%, 53%);
      cursor: pointer;
    }